$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
    font-family: 'zando-font';
}

/* Zando header */
#zandoHeader {
    width: 100%;
    border-top: none;
    border-bottom: 55px solid #000;
    text-align: center;
    .zandoLogo {
        margin: 10px 0 14px;
    }
}

#cached {
    position: fixed;
    bottom: 10px;
    right: 14px;
    font-size: 0.8em;
}

.container {
    padding-left: 0;
    padding-right: 0;
    width: 95%;
}

.container-narrow > hr {
    margin: 30px 0;
}