#weatherDashboard {
    font-family: zando-font, Helvetica, Arial, sans-serif;
    font-size: 12px;
    clear: both;
    padding: 20px;
    #location {
        float: left;
        font-family: zando-font-bold, Helvetica, Arial, sans-serif;
        font-size: 1.7em;
        line-height: 1.7em;
        margin-left: 10px;
        margin-top: 17px;
        &:after {
            content: ' Weather';
        }
    }
    select#setLocation {
        float: none;
        margin-left: 10px;
        font-family: zando-font-bold, Helvetica, Arial, sans-serif;;
        color: #000 !important;
        padding: 8px 12px !important;
        border-color: #898989;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 700 !important;
        text-align: left !important;
        display: block !important;
        width: 200px;
    }
    select#setLocation:hover {
        background-color: #e6e6e6;
        cursor: pointer;
    }
    select#setLocation > option {
        font-family: zando-font-bold, Helvetica, Arial, sans-serif;
        font-size: 1.4em;
        text-transform: capitalize;
        height: auto;
    }
    h3 {
        font-family: zando-font-bold, Helvetica, Arial, sans-serif;
        font-size: 1.6em;
    }
    hr {
        border-top: 1px solid #cdcdcd;
        margin-bottom: 0;
    }
    i {
        font-size: 1.4em;
    }
    #current, #daily {
        border: 1px solid #eee;
        margin: 1.7% 0.5% 0 0.5%;
        width: 99%;
        padding-bottom: 20px;
    }
    .leftHeroUnit, .leftUnit {
        display: inline;
        img {
            margin-right: 10px;
        }
        padding: 0 0 10%;
    }
    .rightHeroUnit, .rightUnit {
        display: inline;
        padding: 0 2% 0;
    }
    .leftHeroUnit, .rightHeroUnit {
        font-size: 1em;
        font-weight: bold;
    }
    .leftUnit, .rightUnit {
        font-size: 1em;
        font-weight: normal;
        padding: 0 2% 0 1%;
        margin-top: -45px;
    }
    .hourlyContainer {
        margin-top: 20px;
        img {
            max-height: 50px;
            margin-top: 5px;
        }
    }
    .hourContainer {
        margin: 10px 0;
        border: 1px solid #EEE;
        .condition {
            white-space: nowrap;
        }
    }
    #hourlyTriggerBtn {
        display: inline-block;
        font-family: zando-font, Helvetica, Arial, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        cursor: pointer;
        min-width: 140px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff;
        background: #f90;
        border: 2px solid #f90;
        font-weight: 700;
        font-size: 16px;
        padding: 8px 16px;
        width: 100%;
    }
    #hourlyTriggerBtn:focus {
        box-shadow: none;
    }
    .maxTempIcon {
        margin-right: -3px;
    }
    .icon-water {
        font-size: 1.1em;
        margin: 0 3px 0 3px;
    }
}

@media screen and (min-width: 500px) {
    #weatherDashboard #location {
        float: right;
        margin-top: 0;
        margin-right: 5px;
    }
    #weatherDashboard select#setLocation {
        float: left;
    }
    #weatherDashboard {
        select#setLocation > option {
            font-size: 1.2em;
            font-family: zando-font, Helvetica, Arial, sans-serif;
        }
        .leftHeroUnit, .leftUnit {
            float: left;
        }
        .rightHeroUnit, .rightUnit {
            float: right;
            text-align: right;
        }
    }
}

@media screen and (min-width: 890px) {
    #weatherDashboard {
        #current, #daily {
            width: 49%;
        }
    }
    .container {
        width: 80%;
    }
}

/* Responsive: Desktops and up */
@media screen and (min-width: 1024px) {
    #zandoHeader {
        width: 100%;
        border-top: 29px solid #e7e7e7;;
        border-bottom: 55px solid #000;
        text-align: left;
        .zandoLogo {
            margin: 10px 0 14px -8px;
        }
    }
}

@media screen and (min-width: 1367px) {
    .container {
        width: 65%;
    }
}