@font-face {
	font-family: 'zando-font-bold';
	src: url('gothambold1.eot');
	src: local('gothambold1'), url('gothambold1.woff') format('woff'), url('gothambold1.ttf') format('truetype');
}
@font-face {
	font-family: 'zando-font';
	src: url('GothamBook.eot');
	src: local('GothamBook'), url('GothamBook.woff') format('woff'), url('GothamBook.ttf') format('truetype');
}
@font-face {
    font-family: 'zando-weather';
    src: url('zando-weather.eot?49340612');
    src: url('zando-weather.eot?49340612#iefix') format('embedded-opentype'),
    url('zando-weather.woff2?49340612') format('woff2'),
    url('zando-weather.woff?49340612') format('woff'),
    url('zando-weather.ttf?49340612') format('truetype'),
    url('zando-weather.svg?49340612#zando-weather') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zando-weather';
    src: url('./zando-weather.svg?49340612#zando-weather') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "zando-weather";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-temperature:before { content: '\e800'; } /* '' */
.icon-wind:before { content: '\e801'; } /* '' */
.icon-compass:before { content: '\e802'; } /* '' */
.icon-cloud:before { content: '\e803'; } /* '' */
.icon-sunrise:before { content: '\e804'; } /* '' */
.icon-fog-sun:before { content: '\e805'; } /* '' */
.icon-fog-moon:before { content: '\e806'; } /* '' */
.icon-moon:before { content: '\e807'; } /* '' */
.icon-mist:before { content: '\e808'; } /* '' */
.icon-water:before { content: '\e809'; } /* '' */
.icon-eclipse:before { content: '\e80a'; } /* '' */
.icon-clock:before { content: '\e80b'; } /* '' */